<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <p class="copyright">© 2016-2020 Maggie Gong. All rights reserved.</p>
      {%- if page.title == "About" -%}
      <div class="contact-info">
        <a class="social-icon" href="mailto:maggie@maggiegong.com"><i class="fas fa-envelope"></i></a>
        <a class="social-icon" href="https://github.com/TinyLittleMaggie" target="_blank"><i class="fab fa-github"></i></a>
        <a class="social-icon" href="https://www.linkedin.com/in/maggie-gong" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      </div>
      {%- endif -%}
    </div>

  </div>

</footer>
