.blog {
  display: flex;
}

.post-list {
  margin-left: 0;
  list-style: none;
  width: 68.5%;

  > li {
    margin-bottom: $spacing-unit;
    padding-bottom: $spacing-unit;

    &:not(:last-child) {
      border-bottom: 1px solid $grey-color-lighter;
    }
  }
  .post-title {
    @include relative-font-size(1.8);
    font-weight: 500;
    margin-bottom: $spacing-unit * 0.2;

    @include media-query($on-laptop) {
      @include relative-font-size(1.575);
    }
  }

  .post-excerpt {
    margin-bottom: $spacing-unit * 0.3;
  }

  .post-meta {
    font-size: $small-font-size;
    color: $grey-color-light;
    margin-bottom: $spacing-unit * 0.2;
  }

  .post-link {
    display: block;
  }
}

.post-list-options {
  list-style: none;
  flex-grow: 1;

  .dropdown {
    margin-bottom: $spacing-unit * 1.5;

    .name {
      font-weight: 700;
      display: block;
      margin-bottom: $spacing-unit * 0.2;
    }

    .button {
      padding: $spacing-unit * 0.4 $spacing-unit * 0.1;
      font-family: inherit;
      font-size: $base-font-size;
      color: $grey-color-dark;
      border: none;
      border-bottom: 1px solid $grey-color-dark;
      width: 100%;
      background: url('/assets/icons/arrow-dropdown.svg') 100% / 15% no-repeat;
      position: relative;
    }

    .selected-option {
      margin-bottom: 0;
    }

    .menu {
      border: 1px solid $grey-color-dark;
      border-radius: 8px;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      overflow: hidden;
    }

    .menu.hide {
      display: none;
    }

    .option {
      padding: $spacing-unit * 0.35 $spacing-unit * 0.6;

      label {
        display: block;
      }

      input:checked+label {
        font-weight: 700;
        background: url('/assets/icons/check-mark.svg') 100% / 15% no-repeat;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $grey-color-lighter;
      }

      &:hover {
        background-color: $grey-color-lighter;
      }
    }

    .radio-circle {
      display: none;
    }
  }
}
