.home {

  overflow: hidden;

  .wrapper {
    position: relative;
  }

  // Objects

  .tides {
    width: 100vw;
    height: 100vh;
    z-index: -999;
    position: absolute;
    top: calc(100vh - 180px);
    background-image: url('/assets/tides.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  #project-item-1 {
    background-image: url('/assets/home-page-objects/frogger-game-normal.svg');
    width: 120px;
    height: 120px;
    position: absolute;
    top: -100px;
    left: calc(50% - 60px);

    &:hover {
      background-image: url('/assets/home-page-objects/frogger-game-hover.svg');
      cursor: pointer;
    }
  }

  #project-item-2 {
    background-image: url('/assets/home-page-objects/honniephone-normal.svg');
    width: 120px;
    height: 120px;
    position: absolute;
    top: calc(45% - 60px);
    right: 0;

    &:hover {
      background-image: url('/assets/home-page-objects/honniephone-hover.svg');
      cursor: pointer;
    }
  }

  #project-item-3 {
    background-image: url('/assets/home-page-objects/memory-game-normal.svg');
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: -80px;
    left: calc(70% - 60px);

    &:hover {
      background-image: url('/assets/home-page-objects/memory-game-hover.svg');
      cursor: pointer;
    }
  }

  // Content

  .headline {
    line-height: 1.4;
  }

  .description {
    max-width: 350px;
  }

  // Modals

  .overlay {
    // display: none;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    // For apps such as mini games
    .modal-app {
      display: flex;
      max-width: 800px;
      border-radius: 20px;
      background-color: #fff;
      padding: $spacing-unit * 2;
      margin: $spacing-unit auto;

      .text {
        margin-right: $spacing-unit * 2;
      }

      .demo {
        min-width: 360px;
      }
    }

    // For videos
    .modal-video {
      width: 800px;
      border-radius: 20px;
      margin: $spacing-unit auto;
      overflow: hidden;
      position: relative;
      background-color: $grey-color-dark;

      .video-overlay {
        margin-bottom: $spacing-unit;
        background-color: rgba(0, 0, 0, 0.6);
        padding: $spacing-unit * 3;
        position: absolute;
        height: 100%;
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .text {
        max-width: $spacing-unit * 12;
      }

      .cta {
        width: 210px;
        color: #fff;
        position: absolute;
        bottom: $spacing-unit;
        left: calc(50% - 105px);
        display: none;
      }
    }
  }

  // Footer

  .site-footer {
    .copyright {
      color: $brand-color-light;
    }
  }

}
