.home {

  overflow: hidden;

  .site-header {
    z-index: 100;
    background-color: transparent;
  }

  .wrapper {
    position: relative;
  }

  // Objects

  .tides {
    width: 100vw;
    height: 1000px;
    z-index: 99;
    position: absolute;
    top: calc(100vh - 180px);
    transition: top 2s ease-in;
    background-image: url('/assets/tides.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  .tides.high {
    top: -20px;
    transition: top 2s ease-out;
  }

  .project-item.hide {
    display: none;
  }

  #item-1 {
    background-image: url('/assets/home-page-objects/frogger-game-normal.svg');
    width: 120px;
    height: 120px;
    position: absolute;
    top: -100px;
    left: calc(50% - 60px);

    &:hover {
      background-image: url('/assets/home-page-objects/frogger-game-hover.svg');
      cursor: pointer;
    }
  }

  #item-2 {
    background-image: url('/assets/home-page-objects/honniephone-normal.svg');
    width: 120px;
    height: 120px;
    position: absolute;
    top: calc(45% - 60px);
    right: 0;

    &:hover {
      background-image: url('/assets/home-page-objects/honniephone-hover.svg');
      cursor: pointer;
    }
  }

  #item-3 {
    background-image: url('/assets/home-page-objects/memory-game-normal.svg');
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: -80px;
    left: calc(70% - 60px);

    &:hover {
      background-image: url('/assets/home-page-objects/memory-game-hover.svg');
      cursor: pointer;
    }
  }

  // Content

  .headline {
    line-height: 1.4;
  }

  .description {
    max-width: 350px;
  }

  .explore-btn {
    opacity: 1;
  }

  .explore-btn.hide {
    opacity: 0;
    transition: opacity 0.5s;
    cursor: default;
  }

  // Modals

  .overlay {
    display: none;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    // Use a cross symbol as the cursor for the entire overlay area
    cursor: url('/assets/icons/close-dark.svg') 12 12, default;

    // For apps such as mini games
    .modal-app {
      display: flex;
      max-width: 800px;
      border-radius: 20px;
      background-color: #fff;
      padding: $spacing-unit * 2;
      margin: $spacing-unit auto;
      position: relative;
      // When cursor is inside the modal, use the normal cursor
      cursor: auto;

      .text {
        margin-right: $spacing-unit * 2;
      }

      .demo {
        min-width: 360px;
        z-index: 1;
      }

      .close-area {
        position: absolute;
        right: 0;
        top: 0;
        width: 160px;
        height: 160px;
        cursor: url('/assets/icons/close-dark.svg') 12 12, default;
      }
    }

    // For videos
    .modal-video {
      width: 800px;
      border-radius: 20px;
      margin: $spacing-unit auto;
      overflow: hidden;
      position: relative;
      background-color: $grey-color-dark;
      // When cursor is inside the modal, use the normal cursor
      cursor: auto;

      .video-overlay {
        margin-bottom: $spacing-unit;
        background-color: rgba(0, 0, 0, 0.6);
        padding: $spacing-unit * 3;
        position: absolute;
        height: 100%;
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
      }

      .video-overlay.hide {
        display: none;
      }

      .video-overlay-after {
        margin-bottom: $spacing-unit;
        background-color: rgba(0, 0, 0, 0.6);
        padding: $spacing-unit * 3;
        position: absolute;
        height: 100%;
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
      }

      .video-overlay-after.hide {
        display: none;
      }

      .text {
        max-width: 400px;
      }

      .play-btn {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.4);
        padding: $spacing-unit * 0.5;

        &:hover {
          cursor: pointer;
        }
      }

      video {
        object-fit: cover;
        display: inherit;
      }

      .cta {
        width: 210px;
        color: #fff;
        position: absolute;
        bottom: $spacing-unit;
        left: calc(50% - 105px);
      }

      .cta.hide {
        display: none;
      }

      .close-area {
        position: absolute;
        right: 0;
        top: 0;
        width: 120px;
        height: 120px;
        cursor: url('/assets/icons/close-light.svg') 12 12, default;
      }
    }
  }

  // Footer

  .site-footer {
    z-index: 100;

    .copyright {
      color: $brand-color-light;
    }
  }

}
