/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  height: $base-line-height * $base-font-size * 3;
  display: flex;
  align-items: center;
  float: left;
  img {
    height: $base-font-size * 2.75;
    padding-top: 3px;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 3;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $grey-color-light;
    transition: color 0.6s ease;
    line-height: $base-line-height;
    padding: 10px 0;

    &:hover {
      color: $text-color;
      text-decoration: none;
      transition: color 0.5s ease;
    }

    &.active {
      // border-bottom: 4px solid $brand-color-light;
      color: $text-color;
      font-weight: 700;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 5px;
        right: 5px;
        bottom: 0;
        height: 4px;
        background-color: $brand-color-light;
        border-radius: 2px;
      }
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit / 1.5 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.copyright {
  color: $grey-color-light;
  font-size: $base-font-size / 1.4;
  margin-bottom: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit * 2.5 0 $spacing-unit;
  flex: 1;
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
    padding-bottom: $spacing-unit;

    &:not(:last-child) {
      border-bottom: 1px solid $grey-color-lighter;
    }
  }
  .post-title {
    @include relative-font-size(1.8);
    font-weight: 500;
    margin-bottom: $spacing-unit * 0.2;

    @include media-query($on-laptop) {
      @include relative-font-size(1.575);
    }
  }

  .post-excerpt {
    margin-bottom: $spacing-unit * 0.3;
  }

  .post-meta {
    font-size: $small-font-size;
    color: $grey-color-light;
    margin-bottom: $spacing-unit * 0.2;
  }

  .post-link {
    display: block;
  }
}




/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.25);
  line-height: 1.4;
  font-weight: 500;

  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
}

.post-meta {
  color: $grey-color-light;

  .dot-divider {
    margin: 0 $spacing-unit * 0.25;
  }
}
