---
layout: default
---

{{ content }}

<div class="blog">

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li data-post-type="{{ post.type }}">
        <p class="post-meta">{{ post.date | date: "%Y / %m / %d" }}</p>
        <h2 class="post-title">
          {{ post.title | escape }}
        </h2>
        {%- if site.show_excerpts -%}
          <p class="post-excerpt">{{ post.excerpt }}</p>
        {%- endif -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          Read more →
        </a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <ul class="post-list-options">
    <li class="option">
      <label for="sort">Sort by</label>
      <select name="sort" id="sort">
        <option value="latest">Latest on top</option>
        <option value="oldest">Oldest on top</option>
        <option value="random">Random</option>
      </select>
    </li>
    <li class="option">
      <label for="type">Type</label>
      <select name="type" id="type">
        <option value="all">All</option>
        <option value="project">Project</option>
        <option value="experiment">Experiment</option>
        <option value="thoughts">Thoughts</option>
      </select>
    </li>
  </ul>

</div>

<script src="/assets/js/sort-filter-posts.js"></script>

