---
layout: default
---

{{ content }}

<div class="blog">

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li data-post-type="{{ post.type }}" data-post-date="{{ post.date }}">
        <p class="post-meta">{{ post.date | date: "%Y / %m / %d" }}</p>
        <h2 class="post-title">
          {{ post.title | escape }}
        </h2>
        {%- if site.show_excerpts -%}
          <p class="post-excerpt">{{ post.excerpt }}</p>
        {%- endif -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          Read more →
        </a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <ul class="post-list-options">
    <li class="dropdown" id="sort">
      <div class="name">Sort by</div>
      <div class="button">
        <p class="selected-option">Latest on top</p>
        <div class="menu hide">
          <div class="option" data-order="1">
            <input class="radio-circle" type="radio" id="latest" name="sort" value="Latest on top" checked>
            <label for="latest">Latest on top</label>
          </div>
          <div class="option" data-order="2">
            <input class="radio-circle" type="radio" id="oldest" name="sort" value="Oldest on top">
            <label for="oldest">Oldest on top</label>
          </div>
          <div class="option" data-order="3">
            <input class="radio-circle" type="radio" id="random" name="sort" value="Random">
            <label for="random">Random</label>
          </div>
        </div>
      </div>
    </li>
    <li class="dropdown" id="type">
      <div class="name">Type</div>
      <div class="button">
        <p class="selected-option">All</p>
        <div class="menu hide">
          <div class="option" data-order="1">
            <input class="radio-circle" type="radio" id="all" name="type" value="All" checked>
            <label for="all">All</label>
          </div>
          <div class="option" data-order="2">
            <input class="radio-circle" type="radio" id="project" name="type" value="Project">
            <label for="project">Project</label>
          </div>
          <div class="option" data-order="3">
            <input class="radio-circle" type="radio" id="experiment" name="type" value="Experiment">
            <label for="experiment">Experiment</label>
          </div>
          <div class="option" data-order="4">
            <input class="radio-circle" type="radio" id="thoughts" name="type" value="Thoughts">
            <label for="thoughts">Thoughts</label>
          </div>
        </div>
      </div>
    </li>
  </ul>

</div>

<script src="/assets/js/sort-and-filter.js"></script>

