<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body class="home">

    <div class="mobile-device-placeholder">
      <h2>🚧 &nbsp;Work in progress</h2>
      <div>
        <p>Whoops! This site is only available on a desktop device.</p>
        <p>I'm still working on its mobile version. </p>
        <p>For now, please use a computer instead :)</p>
      </div>
    </div>

    <div class="tides"></div>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
